<script setup lang="ts">
const { $client } = useNuxtApp();

const { data: languages } = await $client.country.statistics.useQuery(
  { lang: 3 },
  {
    server: false,
  }
);
</script>

<template>
  <div>
    <p>
      {{ languages?._sum }}
    </p>
  </div>
</template>
